.login-container{
  width: 100%;
  height: 100vh;
}
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-card {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
}