.dashboard-layout {
  background-color: #f0f2f5;
  min-height: 100vh;
}

.chart-container {
  width: 100%;
  height: 500px; /* 设置地球图表的高度 */
  // background-color: #000; /* 设置背景颜色，以便更好地显示地球 */
}

.stats-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin-top: 24px;

  .stat-item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    .ant-typography {
      margin-bottom: 8px;
    }
  }
}

.ant-layout-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}